# OS/IDE
.DS_Store
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.pyo
*.pyd
*.so
dist/
build/

# Virtualenv
.venv/
venv/

# Env files
.env
.env.*

# Django
db.sqlite3
staticfiles/
media/

# Localization
*.mo
*.pot

# Coverage / pytest
htmlcov/
.coverage*
.pytest_cache/
